:root{
        --anton: "Anton", sans-serif;
        --manrop:'Manrope', sans-serif;
        --light-gray: #7A7A7A;
        --yellow: #FFD15B;
}
      
/* Header */
.header-hero {
        background-image: url('/assets/background_les_petits_plats.jpg');
        background-size: cover;
        background-position: center;
        height: 667px;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        color: white;
}
      
.header-hero .logo img {
        width: 180px;
}
      
.header-content {
        text-align: center;
        color: #FFD15B;
        margin: auto;
        max-width: 800px;
}
      
.header-content h1 {
        font-family: var(--anton);
        font-size: 2.8rem;
        line-height: 1.4;
}
      
.header-content h1 span {
        font-family: var(--anton);
        font-size: 2.8rem;
}
      
.search-bar-form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem auto;
        max-width: 850px;
        background-color: white;
        border-radius: 1.2rem;
        padding: 0.5rem;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        position: relative;
}
      
.search-bar-form input {
        flex: 1;
        border: none;
        padding: 1rem 3.5rem 1rem 1.5rem;
        border-radius: 1.2rem 0 0 1.2rem;
        font-size: 1rem;
        outline: none;
        font-family: var(--manrop);
}
      
.search-bar-form button {
        background-color: black;
        color: white;
        border: none;
        padding: 0.75rem 1rem;
        border-radius: 0.8rem;
        margin-left: -3rem;
        z-index: 1;
}
      
.search-bar-form button i {
        font-size: 1.1rem;
}

/* Main */
main {
        height: 100%;
}